[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
flask-migrate = "*"
flask-jwt-extended = "*"
pytest = "*"
firebase-admin = "*"
python-firebase = "*"
requests = "*"
flask-swagger-ui = "*"
flask-swagger = "*"
flasgger = "*"
flask-admin = "*"
flask-cors = "*"
gunicorn = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"

[scripts]
start = "gunicorn src.wsgi:app"
test = "python -m pytest"
firebase = "python src/firebase/firebase_scripts.py"
init = "flask db init"
migrate = "flask db migrate"
upgrade = "flask db upgrade"
